<div id="cookcons" style="display: none; width: 100%; height: 100%; align-items: center; flex-direction: column; justify-content: center; background-size: cover; background-position: center; color: whitesmoke; position: absolute; top: 0px; left: 0px; z-index: 99999; background-color: rgba(255, 255, 255, 0.35);">
    <div style="border-radius: 5px; text-align: center; padding: 48px 26px 24px;  background-color: rgb(32, 32, 32); overflow: visible; box-sizing: border-box; display: block; max-width: 800px; cursor: default;">
        <h2>Cookie Consent</h2>
        <p style="margin: 1.5rem;">By continuing your use of this site, you agree that we may store and/or access information on your device, such as unique IDs in cookies to process personal data (authorization cookies). You may accept by clicking below, or refuse by leaving this platform. Your choice will not affect browsing data.</p>
        <button style="border: none; background-color: green; color: white; text-transform: uppercase; font-weight: 600; cursor: pointer; padding: 8px; margin-right: 8px;" onclick="acceptCookie()">Accept Cookies</button>
        <button style="border: none; background-color: transparent; color: white; text-transform: uppercase; font-weight: 600; cursor: pointer; padding: 8px; margin-left: 8px;" onclick="location.href='/';">More Info</button>
    </div>
</div>
<script>
    const hasAcceptedCookies = localStorage.getItem('cookie');
    if (!hasAcceptedCookies) {
       document.getElementById("cookcons").style.display = 'flex';
       document.body.style.overflow = 'hidden';
    }
    function acceptCookie() {
        localStorage.setItem("cookie", 'true');
        document.getElementById("cookcons").style.display = 'none';
        document.body.style.overflow = 'visible';
    }
</script>