<noscript>
    <div style="font-weight: 600; max-width: 100%; width: 90%; border-left: 4px solid red; background: #11111b; padding: 5px 9px 6px 10px; border-radius: 6px 0 0 6px;" role="alert">
        <b>Javascript is disabled. Actions will not work.</b>
    </div>
</noscript>