<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarPlace | Unleashing Stellar Creativity</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="/icons/StarPlace-Logo-1.png">
    <link rel="canonical" href="https://about:blank">
    <link rel="alternate" media="handheld" href="https://about:blank">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://about:blank">
    <link rel="icon" type="image/png" href="/icons/StarPlace-Logo-1.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { username: username, logoURL, kofiURL, uid }) %>
      
    <div class="upload_form_container">
      <h3>Create a StarPlace</h3>
      <p>Work in Progress!</p>
      <br>
      <form action="/api/create" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Place Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="name">A Short Place Description (optional)</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="name">A Place Image (optional)</label>
          <input type="file" id="name" name="name" required>
        </div>
        <button type="submit" style="margin-top: .4rem;">Publish</button>
      </form>
      <b style="font-size: smaller;"><i>Don't forget to read our <a style="color: #ffd05a; text-decoration: underline;" href="">Content Policy</a> and make sure you are abiding our <a style="color: #ffd05a; text-decoration: underline;" href="">ToS</a></i></b>
    </div>
</body>
</html>