<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/noscript') %>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { kofiURL, logoURL, title, username: username, uid: uid }) %>
    <div style="width: 30%; margin-left:auto; margin-right: auto;">
        <h1 style="font-size: 64px; text-decoration: underline;">🚧 Under Construction 🚧</h1>
    </div>
</body>
</html>