<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unleashing Stellar Creativity | StarPlace</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="/icons/StarPlace-Logo-1.png">
    <link rel="icon" type="image/png" href="/icons/StarPlace-Logo-1.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rootStyles.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { logoURL, title, username: username, uid: uid }) %>
      
    <div class="body_main">
        <div id="home-wrapper" style="align-items: flex-start; width: 85%; max-width: 1280px; justify-content: space-between; margin-left: auto; margin-right: auto; padding-top: 80px; padding-bottom: 80px; display: flex; position: relative;">
            <div id="home-left">
                <h1 id="home-heading" style="margin-bottom: 16px; letter-spacing: -1.6px; font-size: 72px; font-weight: 800; line-height: 105%; margin-top: 0;"><%- title %>.</h1>
                <h1 id="home-heading" style="margin-bottom: 16px; letter-spacing: -1.6px; font-size: 72px; font-weight: 800; line-height: 105%; margin-top: 0;">Unleashing Stellar Creativity.</h1>
                <p id="home-subheading" style="margin-bottom: 16px; line-height: 205%;">Free for Everyone, Forever.</p>
                <a style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d; background-color: #d1087a; padding: 20px 36px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; line-height: 120%;" href="/register">Join the Beta.</a>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="/icons/1000016924.jpg" style="max-width: 100%;">
    </div>
    <div style="padding-top: 12rem;">
        <h3>StarPlace is brought to you by The Hydraulisc Network</h3>
        <div style="display: flex; justify-content: center;">
            <img src="/icons/1749122573.png" style="width: 900px; max-width: 100%; height: auto;">
        </div>
    </div>

    <!--
        hi, this entire page is supposed to be temporary!
        in case you're wondering, this is a Hydraulisc powered app lol. Your data is now ours~
                Communism lol.
    -->
</body>
</html>